---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
// Justine stuff (better)
$base-font-family: "Crimson Text", serif;
$title-font-size: 50px;
$title-font-weight: 600;
$title-font-color: #660022;

$head-font-size: 25px;
$head-font-weight: 600;
$head-font-color: #cc6666;
$head-font-style: italic;

$subhead-font-size: 20px;
$subhead-font-style: normal;

$text-font-size: 16px;
$text-line-height: 100%;
$text-font-color: #4d4d4d;

$nav-font-color: $grey-color;



// Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 100%;

$spacing-unit:     30px;
$spacing-mini:	8px;
$footer-unit: 15px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;



// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.item-list {
    margin-left: 0;
    list-style: none;
    line-height: $text-line-height;

    > li {
        margin-bottom: $spacing-mini;
    }
}

.place {
    padding-left: 75px;
    font-size: 16px;
    font-style: italic;
    > a {
        color: $text-font-color;
    }
    > a:visited {
        color: $text-font-color;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
