<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="tisjune.github.io" />
  <meta property="og:description" content="tisjune.github.io" />
  <meta property="og:image" content="images/jasper.jpg" />



  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600italic,600' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<!-- TWITTER CARD METATAGS -->

<!-- IMAGE SIZE OPTION -->
<
META
 
NAME
="
TWITTER:CARD
" 
CONTENT
="
SUMMARY_LARGE_IMAGE
"
>

<!-- TWITTER USERNAME -->
<
META
 
NAME
="
TWITTER:SITE
" 
CONTENT
="
@TWITTERUSERNAME
"
>

<!-- PAGE TITLE -->
<
META
 
NAME
="
TWITTER:TITLE
" 
CONTENT
="
{{ PAGE.TITLE }}
"
>

<!-- PAGE DESCRIPTION -->
{% if page.description %}
  
<
META
 
NAME
="
TWITTER:DESCRIPTION
" 
CONTENT
="
{{ PAGE.DESCRIPTION }}
"
>
{% else %}
  
<
META
 
NAME
="
TWITTER:DESCRIPTION
" 
CONTENT
="
DEFAULT PAGE DESCRIPTION
"
>
{% endif %}

<!-- IMAGE PATH -->
{% if page.image %}
  
<
META
 
NAME
="
TWITTER:IMAGE
" 
CONTENT
="
{{ SITE.URL }}/IMAGES/{{ PAGE.IMAGE }}
"
>
  
<
META
 
NAME
="
TWITTER:IMAGE:ALT
" 
CONTENT
="
{{ PAGE.IMAGE-ALT }}
"
>
{% else %}
  
<
META
 
NAME
="
TWITTER:IMAGE
" 
CONTENT
="
{{ SITE.URL }}/IMAGES/DEFAULT.PNG
"
>
  
<
META
 
NAME
="
TWITTER:IMAGE:ALT
" 
CONTENT
="
DEFAULT IMAGE ALT TEXT
"
>
{% endif %}

<!-- COMPACT TWITTER CARD METATAGS -->
<
META
 
NAME
="
TWITTER:CARD
" 
CONTENT
="
SUMMARY_LARGE_IMAGE
"
>
<
META
 
NAME
="
TWITTER:SITE
" 
CONTENT
="
@TWITTERUSERNAME
"
>
<
META
 
NAME
="
TWITTER:TITLE
" 
CONTENT
="
{{ PAGE.TITLE }}
"
>
<
META
 
NAME
="
TWITTER:DESCRIPTION
" 
CONTENT
="
{% IF PAGE.DESCRIPTION %}{{ PAGE.DESCRIPTION }}{% ELSE %}DEFAULT PAGE DESCRIPTION{% ENDIF %}
"
>
<
META
 
NAME
="
TWITTER:IMAGE
" 
CONTENT
="
{% IF PAGE.IMAGE %}{{ SITE.URL }}/IMAGES/{{ PAGE.IMAGE }}{% ELSE %}{{ SITE.URL }}/IMAGES/DEFAULT.PNG{% ENDIF %}
"
>
<
META
 
NAME
="
TWITTER:IMAGE:ALT
" 
CONTENT
="
{% IF PAGE.IMAGE-ALT %}{{ PAGE.IMAGE-ALT }}{% ELSE %}DEFAULT IMAGE ALT TEXT{% ENDIF %}
"
>