.content {
    white-space: nowrap;
    display: inline-block;
    @media screen and (min-device-width: 481px) {
        min-width:720px;
        padding-left:50px;
        padding-right:50px;
    } 
    @media only screen and (max-device-width: 480px) {
        max-width: 100%;
        padding-left:10px;
        padding-right: 10px;
    }    
    
}

.nobile {
    @media only screen and (max-device-width: 480px) {
        display: none!important;
    }
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 60px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $title-font-color;
    }
    padding: 10px;
}

.section-head {
    font-size: $head-font-size;
    font-weight: $head-font-weight;
    color: $head-font-color;
    font-style: $head-font-style;
}

.subsection-head {
    font-size: $subhead-font-size;
    font-weight: $head-font-weight;
    color: $grey-color-dark;
    font-style: $subhead-font-style;
}

.section-text{
    padding-left: 20px;
    font-size: $text-font-size;
    color: $text-font-color;
    text-align: justify;
    line-height: $text-line-height;
}

.textbox{
    vertical-align: middle;
    float: left;
    white-space: normal;
    @media screen and (min-device-width: 481px) {
        max-width: 80%;
        padding-left:30px;
        padding-right:10px;
    } 
    @media only screen and (max-device-width: 480px) {
        max-width: 90%;
        padding-left:10px;
        padding-right:10px;
    }
}

.textbox-front{
    vertical-align: middle;
    @media screen and (min-device-width: 481px) {
        max-width: 60%;
        padding-left:30px;
        padding-right:10px;
    } 
    @media only screen and (max-device-width: 480px) {
        max-width: 90%;
        padding-left:10px;
        padding-right:10px;
    }
}

.footer {
    padding-left: 25px;
    padding-right: 25px;
    font-size: $text-font-size;
    line-height: $text-line-height;
    color: $nav-font-color;
    .social-span {
        line-height: $base-line-height;
        white-space: nowrap;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
        .page-link {
            color: $nav-font-color;
        }
    }

    &,
    &:visited {
        color: $title-font-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    font-size: $head-font-size;
    font-weight: $head-font-weight;
    color: $head-font-color;
    padding-top: 15px;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $nav-font-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    /** @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    } **/
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $footer-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}


.post-list {
    margin-left: 0;
    list-style: none;
    line-height: $text-line-height;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}



.post-content {
    margin-bottom: $spacing-unit;
    font-size: 18px;
    line-height: 1.3;

    blockquote {
        font-size: 20px;
        font-style: normal;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
